USE [master]
GO
/****** Object:  Database [E:\SEGURADORA\SEGURADORA.MDF]    Script Date: 14/05/2018 17:11:33 ******/
CREATE DATABASE [E:\SEGURADORA\SEGURADORA.MDF]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'seguradora', FILENAME = N'E:\seguradora\seguradora.mdf' , SIZE = 5120KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'seguradora_log', FILENAME = N'E:\seguradora\seguradora_log.ldf' , SIZE = 1024KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [E:\SEGURADORA\SEGURADORA.MDF].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [E:\SEGURADORA\SEGURADORA.MDF]
GO
/****** Object:  Table [dbo].[acidente]    Script Date: 14/05/2018 17:11:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[acidente](
	[cod_aci] [int] IDENTITY(1,1) NOT NULL,
	[descricao] [varchar](200) NOT NULL,
	[local] [varchar](50) NOT NULL,
	[data] [varchar](50) NOT NULL,
	[hora] [varchar](50) NOT NULL,
	[cod_carro] [int] NOT NULL,
 CONSTRAINT [PK_acidente] PRIMARY KEY CLUSTERED 
(
	[cod_aci] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[apolice]    Script Date: 14/05/2018 17:11:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[apolice](
	[cod_apolice] [int] IDENTITY(1,1) NOT NULL,
	[valor] [float] NOT NULL,
	[vigencia] [varchar](50) NOT NULL,
	[franquia] [float] NOT NULL,
	[cod_corretor] [int] NOT NULL,
	[cod_cli] [int] NOT NULL,
	[modelo] [varchar](10) NOT NULL,
 CONSTRAINT [PK_apolice] PRIMARY KEY CLUSTERED 
(
	[cod_apolice] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[carro]    Script Date: 14/05/2018 17:11:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[carro](
	[cod_car] [int] IDENTITY(1,1) NOT NULL,
	[chassi] [varchar](17) NOT NULL,
	[modelo] [varchar](50) NOT NULL,
	[marca] [varchar](50) NOT NULL,
	[cor] [varchar](50) NOT NULL,
	[ano_fabricao] [int] NOT NULL,
	[ano_modelo] [int] NOT NULL,
	[placa] [varchar](8) NOT NULL,
 CONSTRAINT [PK_carro] PRIMARY KEY CLUSTERED 
(
	[cod_car] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[cliente]    Script Date: 14/05/2018 17:11:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[cliente](
	[cod_cli] [int] IDENTITY(1,1) NOT NULL,
	[nome] [varchar](50) NOT NULL,
	[data_nasc] [varchar](50) NOT NULL,
	[telefone] [varchar](50) NOT NULL,
	[endereco] [varchar](50) NOT NULL,
 CONSTRAINT [PK_cliente] PRIMARY KEY CLUSTERED 
(
	[cod_cli] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[corretor]    Script Date: 14/05/2018 17:11:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[corretor](
	[cod_corretor] [int] IDENTITY(1,1) NOT NULL,
	[nome] [varchar](50) NOT NULL,
	[endereco] [varchar](50) NOT NULL,
	[telefone] [varchar](50) NOT NULL,
	[cod_empresa] [int] NOT NULL,
	[regi_corretor] [varchar](50) NOT NULL,
	[senha] [varchar](50) NOT NULL,
 CONSTRAINT [PK_corretor] PRIMARY KEY CLUSTERED 
(
	[cod_corretor] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[empresa]    Script Date: 14/05/2018 17:11:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[empresa](
	[cod_empresa] [int] IDENTITY(1,1) NOT NULL,
	[nome] [varchar](50) NOT NULL,
	[razao_social] [varchar](50) NOT NULL,
 CONSTRAINT [PK_empresa] PRIMARY KEY CLUSTERED 
(
	[cod_empresa] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
SET IDENTITY_INSERT [dbo].[acidente] ON 

INSERT [dbo].[acidente] ([cod_aci], [descricao], [local], [data], [hora], [cod_carro]) VALUES (2, N'batida', N'sorocabaSp', N'03/05/2018', N'11:00', 1)
SET IDENTITY_INSERT [dbo].[acidente] OFF
SET IDENTITY_INSERT [dbo].[carro] ON 

INSERT [dbo].[carro] ([cod_car], [chassi], [modelo], [marca], [cor], [ano_fabricao], [ano_modelo], [placa]) VALUES (1, N'9FATEC2018', N'VOLKSWAGEN', N'GOL', N'BRANCO', 2017, 2018, N'FFF2018')
SET IDENTITY_INSERT [dbo].[carro] OFF
SET IDENTITY_INSERT [dbo].[corretor] ON 

INSERT [dbo].[corretor] ([cod_corretor], [nome], [endereco], [telefone], [cod_empresa], [regi_corretor], [senha]) VALUES (3, N'Alexandre', N'Rua um Bairro tiradentes', N'(11)3243-3232', 1, N'12345', N'123')
SET IDENTITY_INSERT [dbo].[corretor] OFF
SET IDENTITY_INSERT [dbo].[empresa] ON 

INSERT [dbo].[empresa] ([cod_empresa], [nome], [razao_social]) VALUES (1, N'Seguradora By Car', N'1233434')
SET IDENTITY_INSERT [dbo].[empresa] OFF
ALTER TABLE [dbo].[acidente]  WITH CHECK ADD  CONSTRAINT [FK_acidente_carro] FOREIGN KEY([cod_carro])
REFERENCES [dbo].[carro] ([cod_car])
GO
ALTER TABLE [dbo].[acidente] CHECK CONSTRAINT [FK_acidente_carro]
GO
ALTER TABLE [dbo].[apolice]  WITH CHECK ADD  CONSTRAINT [FK_apolice_cliente] FOREIGN KEY([cod_cli])
REFERENCES [dbo].[cliente] ([cod_cli])
GO
ALTER TABLE [dbo].[apolice] CHECK CONSTRAINT [FK_apolice_cliente]
GO
ALTER TABLE [dbo].[apolice]  WITH CHECK ADD  CONSTRAINT [FK_apolice_corretor] FOREIGN KEY([cod_corretor])
REFERENCES [dbo].[corretor] ([cod_corretor])
GO
ALTER TABLE [dbo].[apolice] CHECK CONSTRAINT [FK_apolice_corretor]
GO
ALTER TABLE [dbo].[corretor]  WITH CHECK ADD  CONSTRAINT [FK_corretor_corretor] FOREIGN KEY([cod_corretor])
REFERENCES [dbo].[corretor] ([cod_corretor])
GO
ALTER TABLE [dbo].[corretor] CHECK CONSTRAINT [FK_corretor_corretor]
GO
ALTER TABLE [dbo].[corretor]  WITH CHECK ADD  CONSTRAINT [FK_corretor_empresa] FOREIGN KEY([cod_empresa])
REFERENCES [dbo].[empresa] ([cod_empresa])
GO
ALTER TABLE [dbo].[corretor] CHECK CONSTRAINT [FK_corretor_empresa]
GO
USE [master]
GO
